openapi: 3.2.0
info:
  title: Gupshup WhatsApp Business Messaging API
  description: REST API for sending and managing WhatsApp Business messages through Gupshup.
  version: '1.0'
  contact:
    name: Gupshup
    url: https://www.gupshup.io
  x-modeled: true
servers:
- url: https://api.gupshup.io/wa/api/v1
  description: Gupshup WhatsApp Business API
security:
- apiKeyAuth: []
tags:
- name: Messaging
  description: Send WhatsApp session messages.
paths:
  /msg:
    post:
      operationId: sendMessage
      tags:
      - Messaging
      summary: Send a WhatsApp session message
      description: Sends a WhatsApp message from a registered business number to a recipient. The `message` field is a JSON-encoded object whose `type` selects the message kind (text, image, file, audio, video, sticker, location, contact, or interactive list / quick reply). Confirmed endpoint. Cannot be called directly from a browser / client-side JS.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        '202':
          description: Message accepted for asynchronous delivery.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  schemas:
    SendMessageRequest:
      type: object
      required:
      - channel
      - source
      - destination
      - message
      - src.name
      properties:
        channel:
          type: string
          description: Messaging channel.
          example: whatsapp
        source:
          type: string
          description: Registered WhatsApp Business phone number (with country code).
        destination:
          type: string
          description: Recipient phone number (with country code).
        message:
          type: string
          description: JSON-encoded message object. Its `type` field selects the kind - text, image, file, audio, video, sticker, location, contact, list, or quick_reply - with type-specific fields alongside.
          example: '{"type":"text","text":"Hello from Gupshup"}'
        src.name:
          type: string
          description: Gupshup app name registered to the source number.
        disablePreview:
          type: boolean
          description: Optional. Disables URL preview for text messages.
        encode:
          type: boolean
          description: Optional. Controls encoding of text / interactive list messages.
    SendMessageResponse:
      type: object
      description: Asynchronous accept response carrying a Gupshup message identifier.
      properties:
        status:
          type: string
          example: submitted
        messageId:
          type: string
          description: Gupshup unique message identifier used to correlate webhook delivery events.
    Error:
      type: object
      properties:
        status:
          type: string
          example: error
        message:
          type: string
  responses:
    BadRequest:
      description: The request was malformed or missing required parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid apikey.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: apikey
      description: Account API key sent in the `apikey` request header. Available from the Gupshup dashboard. Scopes requests to your account and its registered apps.
